---
layout: archive
---

{{ content }}



<!-- 내용부분 -->

{% assign postsByYear = site.posts | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% for year in postsByYear %}
      {% for post in year.items | sort: 'date'%}
      <section id="{{ year.name }}" class="taxonomy__section">
        <div class="entries-{{ page.entries_layout | default: 'list' }}">
        {% include archive-single.html type=page.entries_layout %}
      </div>
      </section>
      {% endfor %}
    
  
{% endfor %}
<a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }}</a>